<nav class="navbar navbar-grey navbar-expand-lg">


  <div class="container">
        <a id='nav-color' class="navbar-brand" href="{% url 'home' %}"><img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png">  <i class="fab fa-instagram"></i></a><button class="navbar-toggler"></button>
  
        <div class="d-flex" id="navbar-menu" style='width: 60%;'>
  
           <div class="mr-auto" id="navbar-menu-left-side">
            <form class="form-inline" role="search">
              <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="user">
                <button class="btn peach-gradient btn-sm" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </form>
           </div>
  
           <div id="navbar-menu-right-side">
              <ul class="list-inline nav navbar-nav action-links">
                <li class="nav-item list-inline-item avatar"><a class="nav-link p-0" href="{% url 'userProfile' id=current_user.id %}"><img src="{{current_user.profile.profile_pic.url}}" class="rounded-circle z-depth-0" alt="avatar image" height="35" width="35"></a></li>
                <li class="nav-item list-inline-item"><a style="font-size: 30px;" class="nav-link p-0" href="{% url 'home' %}" id="nav-color"><i class="fas fa-home"></i></a></li>
                <li class="nav-item list-inline-item"><a style="font-size: 30px;" class="nav-link p-0" href="/logout" id="nav-color"><i class="fas fa-sign-out-alt"></i></a></li>
                <li class="nav-item list-inline-item"><a style="font-size: 30px;" class="nav-link p-0" href="{% url 'newPost' %}" id="nav-color"><i class="fas fa-upload"></i></a></li>
              </ul>
           </div>
  
        </div>
     </div>
  </nav>
  <style>
    #nav-color {
      color: inherit;
    }
  </style>